<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 数据库配置 -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:file:~/.h2/db/education2</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.maxSize">2</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.autocommit">true</property>
       <!-- <property name="hibernate.current_session_context_class">thread</property>-->
        <!-- hibernate方言配置 -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- 事务自动提交  -->
        <!-- 可选配置（打印sql） -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <!-- 没有表则自动创建 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.xw.swing.education.domain.entity.Users"/>

    </session-factory>
</hibernate-configuration>